 
 <!--Page/Section 1 -->
    <div class="main" id="section1">
    <section class="hero is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img class="logo" src="picture/foodlogo.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
                                    <span>Saved Recipe</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-user-circle"></i>
                                    </span>
                                    <span>Account</span>
                                </a>
                            </span>
                            
                        </div>
                    </div>
                </div>
            </nav>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <div class="box">
                            <div class="field is-grouped">
                                <p class="control is-expanded">
                                    <input class="input" type="text" placeholder="Find A Recipe/Add Ingredients">
                                </p>
                                <p class="control">
                                    <a class="button is-danger">
                                            <span class="icon">
                                                <i class="fa fa-plus-square"></i>
                                        </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
           
 
 
 <!--Page/Section 2 -->

  <div class="main" id="section2">
    <section class="hero is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img class="logo" src="picture/foodlogo.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
                                    <span>Saved Recipe</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-user-circle"></i>
                                    </span>
                                    <span>Account</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">
                        You Can Make the Following Recipes
                    </h1>
                    <div class="columns features">
                        <div class="column is-4">
                            <div class="card is-shady">
                                <div class="card-image has-text-centered">
                                    <i class="fa fa-paw"></i>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h4>Tristique senectus et netus et. </h4>
                                        <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra nam.</p>
                                        <p><a href="#">Learn more</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="card is-shady">
                                <div class="card-image has-text-centered">
                                    <i class="fa fa-empire"></i>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h4>Tempor orci dapibus ultrices in.</h4>
                                        <p>Ut venenatis tellus in metus vulputate. Amet consectetur adipiscing elit pellentesque. Sed arcu non odio euismod lacinia at quis risus. Faucibus turpis in eu mi bibendum neque egestas cmonsu songue. Phasellus vestibulum lorem
                                        sed risus.</p>
                                        <p><a href="#">Learn more</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="card is-shady">
                                <div class="card-image has-text-centered">
                                    <i class="fa fa-apple"></i>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h4> Leo integer malesuada nunc vel risus. </h4>
                                        <p>Imperdiet dui accumsan sit amet nulla facilisi morbi. Fusce ut placerat orci nulla pellentesque dignissim enim. Libero id faucibus nisl tincidunt eget nullam. Commodo viverra maecenas accumsan lacus vel facilisis.</p>
                                        <p><a href="#">Learn more</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
  

