 
 <!--Page/Section 1 -->

    <div class="main" id="section1">
    <section class="hero is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img class="logo" src="views/pexels-trang-doan-793785.jpg" alt="Logo">
                        </a>
                        <span class="navbar-recipe recipe" data-target="navbarMenu">
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-black is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-black is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
                                    <span>Saved Recipe</span>
                                    {{!-- {{> recipes/recipe-block save=true}} --}}
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-black is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-user-circle"></i>
                                    </span>
                                    <span>Account</span>
                                </a>
                            </span>
                            
                        </div>
                    </div>
                </div>
            </nav>
            </div>

            <h1>What's In The Pantry</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Saved recipes:</h2>
                        <ul class="list2">
                            {{#each recipes}}
                            {{#if saved}}
                            {{> recipes/recipe-block save=false}}
                            {{/if}}
                            {{/each}}
                            <p>Monkey Bread</p>
                            <p>Pumpkin Lasagna</p>
                            <p>Gluten Free Fudge Brownies</p>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <div class="box">
                            <div class="field is-grouped">
                                <p class="control is-expanded">
                                    <input class="input" type="text" placeholder="Find A Recipe/Add Ingredients">
                                </p>
                                <p class="control">
                                    <a class="button-search is-danger">
                                            <span class="icon">
                                                <i class="fa fa-plus-square"></i>
                                        </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2>Search Results: </h2>
                            <ul class="list1">
                                {{#each recipes}}
                                {{#unless Saved}}
                                {{> recipes/recipe-block save=true}}
                                {{/unless}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
           
 <!--Page/Section 2 -->

  <div class="main" id="section2">
    <section class="hero is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img class="logo" src="pexels-trang-doan-793785.jpg" alt="Logo">
                        </a>
                        <span class="navbar-recipe recipe" data-target="navbarMenu">
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-black is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-black is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
                                    <span>Saved Recipe</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-black is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-user-circle"></i>
                                    </span>
                                    <span>Account</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title" id="title" style="color:black;">
                        Here are some ideas:
                    </h1>
                    <div class="columns features">
                        <div class="column is-4">
                            <div class="card is-shady">
                                <div class="card-image has-text-centered">
                                    <i class="fa fa-paw"></i>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h4>Chicken Tacos</h4>
                                        <p>Easy chicken tacos that only takes 30 minutes. All you need is some chicken, some taco seasoning, some veggies, and your medium for taco goodness.</p>
                                        <p><a href="#">Learn more</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="card is-shady">
                                <div class="card-image has-text-centered">
                                    <i class="fa fa-empire"></i>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h4>Alfredo with Chicken</h4>
                                        <p>Easy homemade alfredo sauce with some noodles and shredded chicken. A must for anyone in the mood for Italian!</p>
                                        <p><a href="#">Learn more</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="card is-shady">
                                <div class="card-image has-text-centered">
                                    <i class="fa fa-apple"></i>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h4>BBQ Chicken Croissants</h4>
                                        <p>Simple recipe for great tasting BBQ chicken all wrapped in a pillsbury croissant, baked to perfection.</p>
                                        <p><a href="#">Learn more</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
  

