body {
  background-image: url('picture/spoon_tomatosalad.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

#section2 {
 
  background-image: url('picture/pexels-alexy-almond-3756498.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 
}