body {
    background-image: url('picture/spoon_tomatosalad.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  
  #section2 {
    height: 600px;
    background-color: yellow;
  }